body{
    margin: 0;
    padding: 0;
    background-color: rgb(70, 64, 64);
}
.container{
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: rgb(56, 55, 55);
    width: 350px;
    height: 450px;
    border-radius: 20px;
}
input{
    position: relative;
    background-color: rgb(172, 162, 179);
    width: 70px;
    height: 60px;
    left: 30px;
    top: 40px;
    border-radius: 10px;
}
.natija {
width: 290px;
top: 30px;
}
.natija1 {
width: 290px;
top: 45px
}
.red{
    background-color: rgb(235, 106, 106);
}