body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 90%;
    height: 690px;
    background-image: url(https://img.freepik.com/free-vector/leaves-background-with-metallic-foil_79603-956.jpg?w=2000);
    /* background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  
    
    /* background-color: rgb(70, 64, 64); */
}

.container{
    position: fixed;
    top: 18%;
    left: 38%;
    background-color: rgb(56, 55, 55);
    width: 350px;
    height: 450px;
    border-radius: 20px;
}
input{
    position: relative;
    background-color: rgb(172, 162, 179);
    width: 70px;
    height: 60px;
    left: 30px;
    top: 40px;
    border-radius: 10px;
}
.natija {
width: 290px;
top: 30px;
}
.natija1 {
width: 290px;
top: 45px
}
.red{
    background-color: rgb(235, 106, 106);
}